::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #e91e63;
  border-radius: 0.75rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e91e63; //E91E63
}

.v-slide-group__prev {
  display: none !important;
}
